.card {
  border: 1px solid #eee;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  max-width: 40rem;
  margin: 2rem auto;
  border-radius: 4px;
}

.card button {
  background-color: #555;
}
